## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [8]:
print(data['sex'].value_counts())
#or
print(data.groupby('sex')['sex'].count())

Male      21790
Female    10771
Name: sex, dtype: int64
sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [33]:
print(data['age'].where(data['sex']=='Male').mean())

# для проверки
data.groupby('sex')['age'].mean()

39.43354749885268

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [38]:
print(str(round(data['native-country'].where(data['native-country']=='United-States')
        .count()/data['age'].count()*100, 2))+"%")

89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [42]:
#среднее значение возраста, которые поучают salalry >50K
print(round(data['age'].where(data['salary']=='>50K').mean(), 2))
#среднее значение возраста, которые поучают salalry <=50K
print(round(data['age'].where(data['salary']=='<=50K').mean(), 2))
#среднеквадратичное отклонение возраста, которые поучают salalry >50K
print(round(data['age'].where(data['salary']=='>50K').std(), 2))
#среднеквадратичное отклонение возраста, которые поучают salalry <=50K
print(round(data['age'].where(data['salary']=='<=50K').std(), 2))

44.25
36.78
10.52
14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [54]:
#те, кто получают зарплату больше 50K
print(data['salary'].where(data['salary']=='>50K').count())
#те, кто получают зарплату больше 50К и имеют высшее образование
print(data['education'].where(data['salary']=='>50K')
.where(data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])).count())

#так как мы видим что количество людей получающих зарплату больше 50К, больше чем количество людей получающих зарплату больше 50К
#с высшим образованием, то мы можем сказать что получают зарплату больше 50K и не имеют высшее образование

7841
4535

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [58]:
print(data.groupby(['race', 'sex']).describe())
#max age of male who has Asian-Pac-Islander race is 90

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [17]:
#count of people who have salary >50K and martial-status is Married-civ-spouse or Married-spouse-absent or Married-AF-apouse
x = (data['marital-status'].where(data['salary']=='>50K')
.where((data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-apouse'])))
.where(data['sex']=='Male').count())
print(x)

#count of males who have salary >50K and not married
y = (data['marital-status'].where(data['salary']=='>50K').where(data['sex']=='Male').count())
print(y-x)
if x > (y-x):
    print("Доля, зарабатывающих больше 50К женатых мужщин, больше.")
else:
    print("Доля, зарабатывающих больше 50К холостых мужщин, больше.")

5961
701
Доля зарабатывающих больше 50К женатых мужщин больше.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [34]:
#print max count of hours-per-week for people
max_hours = data['hours-per-week'].max()
count_max_hours = data['hours-per-week'].where(data['hours-per-week']==max_hours).count()
print(max_hours)
print(f"Количество людей, которые работают {max_hours} часов: {count_max_hours}")
count_max_hours_big_salary = data['hours-per-week'].where(data['hours-per-week']==max_hours).where(data['salary']=='>50K').count()
percentage = round(count_max_hours_big_salary/count_max_hours*100, 2)
print(f"Процент людей работающих {max_hours} часов и зарплата больше 50K: {percentage}%")

99
Количество людей, которые работают 99 часов: 85
Процент людей работающих 99 и зарплата больше 50K: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [37]:
print(data.groupby(['native-country', 'salary'])['hours-per-week'].mean())

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [92]:
import numpy as np

young_people = data['age'].where(data['age'].between(16, 34)).count()
adult_people = data['age'].where(data['age'].between(35, 69)).count()
retiree = data['age'].where(data['age'].between(70, 100)).count()
print(young_people, adult_people, retiree)

conditions = [
    (data['age'] >= 16) & (data['age'] <= 34),
    (data['age'] >= 35) & (data['age'] <= 69),
    (data['age'] >= 70) & (data['age'] <= 100)
]
choices = ['young', 'adult', 'retiree']
data['AgeGroup'] = np.select(conditions, choices, default='other')

data.head()

14049 17883 629

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [110]:
#group people by AgeGroup and count number of people who have salary >50K
print(data.groupby(['AgeGroup', 'salary'])['age'].count())
#The name of AgeGroup which has max count of people who have salary >50K
result_name = data.where(data['salary']=='>50K').groupby('AgeGroup')['age'].count().idxmax()
print(f'В возрастной группе {result_name} больше всего людей, зарабатывающих больше 50К')

AgeGroup  salary
adult     <=50K     11643
          >50K       6240
retiree   <=50K       516
          >50K        113
young     <=50K     12561
          >50K       1488
Name: age, dtype: int64
В возрастной группе adult больше всего людей, зарабатывающих больше 50К

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [4]:
#group people by occupation and count number of people in each group
print(data.groupby('occupation')['age'].count())


def filter_func(group):
    return 
    
result_group = filter_func()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: age, dtype: int64
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: age, dtype: int64